@import "_nullstyle.scss";
$width: 1000px;

.header {
	background-image: url(../img/bg-header.png);
	padding-top: 160px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
}

.header__text{
	margin: 100px auto 120px;
}

.logo {
	display: flex;
	justify-content: center;
}

.header {
	&__text {
	display: flex;
	justify-content: center;
	}
}
.title {
	&__text {
		text-align: center;
	}
	&__subtitle {
		text-align: center;
	}
	&__trait{
		background-color: black;
		height: 2px;
		width: 100px;
		margin: 0 auto;
		margin-top: 40px;
	}
}
.text {
	&__firstline {
		font-size: 34px;
		font-weight: 900;
		letter-spacing: 5.43px;
		line-height: 40px;
		text-transform: uppercase;
	}
	&__otherline {
		font-size: 26px;
		font-weight: 400;
		letter-spacing: 4.15px;
	}
}

.white{
	color: white;
}

.white-trait{
	background-color: white;
}

.header-button {
	display: flex;
	justify-content: center;
}

.button-read-more {
	width: 180px;
	height: 50px;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
	line-height: 50px;
	border: 1px solid black;
}

.white-button {
	color: white;
	border: 1px solid white;
}

.arrow-down {
	display: flex;
	justify-content: center;
}
.arrow {
	margin: 75px 0;
}

.menu {
	margin: 0 auto;
	width: 420px;
	display: flex;
	justify-content: space-between;
	&__element {
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 400;
		padding: 23px 0 23px;
		a {
			color: #3c3c3c;
			&:visited{
				text-decoration: none;
				color: #ada074;
			}
		}
	}
}

.about{
	width: 900px;
	margin: 0 auto;
	padding-top: 100px;	
	height: 100vh;
}
.content {
	&__text {
		padding-top: 35px;
		padding-bottom: 70px;
		text-align: center;
		color: #868585;
		font-size: 14px;
		font-weight: 300;
		line-height: 25.89px;
	}
}

.columns {
	display: flex;
	justify-content: space-evenly;
	&__column {
		width: 30%;
	}
}
.column {
	&__img {
		margin: 0px auto 40px auto;
		border-radius: 50%;
		width: 92px;
		height: 92px;
		border: 2px solid #f1f1f1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__title {
		padding-top: 40px;
		text-transform: uppercase;
		text-align: center;
		font-weight: 400;
		font-size: 22px;
		color: #000000;
	}
	&__subtitle {
		padding-top: 35px;
		text-align: center;
		line-height: 26px;
		font-weight: 300;
		font-size: 14px;
		color: #868585;
	}
}

.portfolio {
	background-color: #f3f3f3;
	padding-top: 100px;
	padding-bottom: 60px;
}

.gallery {
	display: flex;
	justify-content: space-between;
	width: 1100px;
	margin: 0 auto;
	padding-bottom: 60px;
	&__item {
		padding: 15px 0;
		img{
			width: 540px;
			height: 370px;
		}
	}
}

.partners {
	padding-top: 80px;
	background-image: url(../img/bg-partners.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0 0;
	&__logo {
		padding-top: 80px;
		padding-bottom: 100px;
		margin: 0 auto;
		width: 600px;
		display: flex;
		justify-content: space-around;
	}
}

/*contact*/

.contact {
	padding-top: 100px;
	&__content {
		display: flex;
		justify-content: center;
		padding-top: 100px;
		width: 900px;
		margin: 0 auto;
		}
}

.content {
	&__form {
		margin-right: 15px;
		width: 50%;
	}
	&__about {
		width: 50%;
		font-size: 14px;
		font-weight: 300;
		line-height: 26px;
		text-align: left;
	}
}
.about {
	&__name {
		font-weight: 700;
		text-transform: capitalize;
		margin: 30px 0 25px;
	}
	&__social {
		display: flex;
		justify-content: flex-start;
	}
	&__email {
		margin-top: 15px;
	}
}
.social {
	&__item {
		margin-right: 12px;
		border-radius: 50%;
		width: 29px;
		height: 29px;
		border: 2px solid black;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.mainform {
	&__input {
		display: flex;
		justify-content: space-between;
	}
	&__textarea {}
}
.input {
	&__element {}
}
.element {
	&__name {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: left;
	}
	&__trait {
		margin-top: 15px;
		width: 160px;
		height: 2px;
		background-color: #000000;
	}
}
.field {
	&__input {
		background-color: gold;
		width: 160px;
		height: 35px;
		margin-bottom: 50px;
	}
}
.textarea {
	&__name {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: left;
	}
	&__trait {
		margin-top: 15px;
		width: 380px;
		height: 2px;
		background-color: #000000;
	}
}
.area {
	&__input {
		background-color: gold;
		width: 380px;
		height: 115px;
		&:active{
			background-color: blueviolet;
		}
	}
}

.submit{
	margin-top: 30px;
	display: flex;
	justify-content: right;
	margin-bottom: 70px;
}

.submit__button{
	margin: 0px 0px 0px 10px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 900;
}

/*footer*/

.footer {
	padding-top: 40px;
	padding-bottom: 30px;
	background-color: #3c3c3c;;
}

.copyright {
	color: #6c6c6c;
	font-weight: 400;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	}

.footer__body {
	padding-top: 30px;
	padding-bottom: 30px;
}
